<h1>Your Dashboard</h1>

{{#if posts}}
  <ul>
    {{#each posts}}
      <li>
        <a href="/dashboard/post/{{this.id}}">{{this.title}}</a>
        -
        {{this.createdAt}}
        <a href="/dashboard/edit/{{this.id}}">Edit</a>
        |
        <button
          type="button"
          id="delete-post-btn"
          name="{{this.id}}"
        >Delete</button>
        {{!-- <a href="/dashboard/delete/{{this.id}}">Delete</a> --}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts yet!</p>
{{/if}}

<script src="/js/deletepost.js"></script>
<a href="/dashboard/new">Create a New Post</a>