<h1>Learning to code..</h1>

{{#if posts}}
  <ul>
    {{#each posts}}
      <li><a href="dashboard/post/{{id}}">{{title}}</a>
        -
        <br />
        <strong>Posted by: {{User.username}}</strong>
        <br />
        <strong>Created at:</strong>
        {{createdAt}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts yet!</p>
{{/if}}

{{!-- {{#if session.user_id}}
  <a href="/dashboard">Dashboard</a>
  |
  <a href="/logout">Logout</a>
{{else}}
  <a href="/login">Login</a>
  |
  <a href="/signup">Sign Up</a>
{{/if}} --}}